.config-wrapper {
  display: flex;
  flex-direction: column;

  width: 80vw;
  height: auto;

  padding: 2%;
  margin: 2%;

  border-color: #000000f2;
  border-style: solid;
  border-radius: 20px;
}

.config-input-wrapper {
  display: flex;
  flex-direction: column;

  width: 60%;
  height: auto;

  padding: 2%;
  margin: 2%;
}
