.query-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  align-items: center;
  justify-items: center;

  height: 90vh;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: scroll;
}

.query-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.query-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
