@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0%;
  padding: 0%;
  position: fixed;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100vw;
  height: 100vh;
}

img,
div {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

*:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
* {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
* Fixes iOS issue of content
* not being displayed when
* on iOS
*/

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .card-opened-bottom,
  .query-showcase-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 11vh;
  }

  .query-showcase-wrapper {
    padding-bottom: 10vh;
  }

  .card-opened-edit-buttons {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    margin-bottom: 10vh;
    width: 80vw;
    height: 30vh;
    align-self: center;
    align-items: center;
    justify-items: center;
  }
}
