.card-opened-edit-buttons {
  display: flex;
  flex-direction: column;

  align-self: center;
}

.card-opened-button {
  display: block;
  width: 15vw;
  margin: 20px;
  padding: 4px;

  text-align: center;
  border-style: solid;
  background-color: rgb(255, 255, 0);
}

.card-opened-button:hover {
  transform: scale(1.2);
}
