.card-opened-edit-buttons {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 80vw;
  height: 30vh;

  align-self: center;
  align-items: center;
  justify-items: center;
}

.card-opened-button {
  display: block;
  width: 15vw;
  margin: 20px;
  padding: 4px;

  text-align: center;
  border-style: solid;
  background-color: rgb(255, 255, 0);
}

.card-opened-button:hover {
  transform: scale(1.2);
}

/* Language: css */
