.card-wrapper {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  margin: 2%;
  border-radius: 20px;
  background-color: #f2f2f2;
  height: clamp(10vh, 150px, 40vh);
  width: clamp(20vw, 300px, 80vw);

  padding-right: 10px;
  color: white;
  background-image: linear-gradient(135deg, #59666b 10%, #353336 100%);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.card-wrapper:hover {
  transform: translateZ(0) scale(1.1);
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 20px;
}

.card-img {
  width: auto;
  height: 100%;
  border-radius: 20px 0px 0px 20px;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.card-info-wrapper {
  width: 18vw;
  display: flex;
  flex-direction: row;
}

.card-info-prices-wrapper {
  margin-top: 25px;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
}

.card-info-prices {
  padding-top: 10px;
  margin-left: 30px;
}

.card-info-playername {
  font-size: clamp(1rem, 1.2vw, 2rem);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.card-info-collectionname {
  font-size: clamp(0.7rem, 0.5vw, 1.75rem);
  font-weight: 400;
  margin-top: 5px;
}

.card-info-tabname {
  font-size: clamp(0.5rem, 0.5vw, 2rem);
  font-weight: 600;
}

.card-opened-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 80vw;
  height: 60vh;

  z-index: 5;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);

  border-radius: 20px;
}

.card-opened-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-opened-close {
  width: 50px;
  height: 50px;
}

.card-opened-info-wrapper {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.card-opened-info {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin-left: 20px;
}

.card-opened-info-prices-wrapper {
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1rem;
}

.card-opened-info-prices {
  padding-top: 10px;
}

.card-opened-info-playername {
  font-size: clamp(2rem, 2.2vw, 3rem);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 5px;
}

.card-opened-info-collectionname {
  font-size: clamp(1rem, 1.2vw, 2.5rem);
  font-weight: 400;
  margin-top: 5px;
}

.card-opened-info-tabname {
  font-size: clamp(1rem, 1vw, 4rem);
  font-weight: 600;
}

.card-opened-prices {
  display: flex;
  flex-direction: row;

  margin-top: 50px;
  font-size: 1.75rem;
  font-weight: 600;
}

.migrate-wrapper {
  display: flex;
  flex-direction: column;

  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.migrate-items {
  display: flex;

  width: 100%;
  height: 100%;

  padding: 5px;
  margin: 5px;

  overflow-x: scroll;
  overflow-y: hidden;
}

.migrate-card-img {
  width: 10vw;
}

@media only screen and (max-width: 750px) and (min-width: 550px) {
  .card-info-wrapper {
    flex-direction: column;
  }

  .card-opened-wrapper {
    width: 105vw !important;
    height: 120vh !important;
    margin-top: -15vh !important;

    border-radius: 0px !important;
  }

  .card-opened-wrapper {
    padding-left: 5%;
    padding-top: 5%;
  }

  .card-opened-wrapper img {
    width: 200px;
    height: 220px;
    padding-left: 5%;
    padding-top: 5%;
  }

  .card-opened-prices {
    margin-left: -40px;
    margin-top: 35px !important;
    margin-bottom: 10px;
  }

  .card-opened-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 40px !important;
    height: 40px !important;
    padding-left: 200px !important;
    padding-right: 200px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 750px;
    margin-left: 110px;
    background-color: rgba(125, 89, 252, 1);
    border-radius: 50px;

    transition: 0.3s all;
  }

  .card-opened-info {
    margin-top: 50px !important;
  }

  .card-img {
    width: 225px !important;
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 550px) {
  .card-opened-prices {
    margin-top: 100px !important;
    margin-left: -200px !important;
  }

  .card-info-wrapper {
    flex-direction: column;
  }

  .card-opened-wrapper {
    width: 105vw !important;
    height: 120vh !important;
    margin-top: -15vh !important;

    border-radius: 0px !important;
  }

  .card-opened-wrapper {
    padding-left: 5%;
    padding-top: 5%;
  }

  .card-opened-wrapper img {
    width: 200px;
    height: 220px;
    padding-left: 5%;
    padding-top: 5%;
  }

  .card-opened-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    position: fixed;
    width: 40px !important;
    height: 40px !important;
    padding-left: 80px !important;
    padding-right: 80px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 750px;
    margin-left: 100px;
    background-color: rgba(125, 89, 252, 1);
    border-radius: 50px;

    transition: 0.3s all;
  }

  .card-opened-top {
    margin-top: 20px;
  }

  .card-opened-info {
    height: 20vh;
  }
}

@media only screen and (min-width: 750px) {
  .card-opened-wrapper {
    margin-left: 10vw;
  }

  .card-img {
    border-radius: 20px 0px 0px 0px !important;
  }
}
