.card-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(34, 34, 34);

  width: 150px;

  margin: 20px;
  border-radius: 25px 25px 0 0;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.card-wrapper:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card-opened-wrapper {
  align-self: center;
  justify-self: center;
}

.card-info-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 4px;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.card-img {
  height: 210px;
  width: 150px;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
