.search-wrapper {
  display: block;
  height: 100vh;
  width: 100vw;
}

.search-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 5vh;
  width: 100vw;
}

.search-input {
  border: none;
  border-radius: 3px;
  height: 35%;
  width: 50vw;
  padding: 1%;
  font-size: 1.25rem;
  font-weight: 400;
  color: #777777;
  transition: all 0.5s ease-in-out;
}

.search-input:focus {
  border: none;
  border-radius: 3px;
  outline-width: 0;
  height: 60%;
  width: 50vw;
  padding: 1%;
  font-size: 1.5rem;
  font-weight: 400;
  color: #212121;
  transition: all 0.5s ease-in-out;
}

.search-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
  background-color: #ffffff;
}

.search-admin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #212121;
  width: 10vw;
  height: 100%;
  margin-left: 5vw;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-decoration: none;

  transition: all 0.5s ease-in-out;
}

.search-admin-button:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212121;
  background-color: #ffffff;
  width: 15vw;
  height: 100%;
  margin-left: 5vw;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;

  transition: all 0.5s ease-in-out;
}

.search-admin-button:active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212121;
  background-color: #797979;
  width: 15vw;
  height: 100%;
  margin-left: 5vw;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;

  transition: all 0.5s ease-in-out;
}
